/*
light green - rgb(164,219,185)
darker green - rgb(42,111,8)
*/
* {

    color: none;
}

body {
    background: rgb(247,248,250);
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    background: rgb(102, 141, 83);
    box-shadow: #182628;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
}
.navbar-brand:hover {
    color: none;
}

.nav-link,
a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: whitesmoke;
}
a:before {
    color: none;
}
.nav-link:hover {
    color: rgb(151, 190, 131);
}
.nav-link:before {
    color: none;
}
.fas:hover,
.far:hover {
    color: rgb(147, 187, 127);
}
.fas:before,
.far:before {
    color: none;
}
.navbar-toggler {
    color: whitesmoke;
}
span {
    color: whitesmoke;
    border: whitesmoke solid 2.5px;    
}
.dropdown-menu {
    padding: 0;
    min-width: 6.5rem;
}

.dropdown-item {
    padding: 10px;
    margin: 0 0 0 0;
    width: 75px;
}

.dropdown-item:focus {
    background: none;
}
#Cal {
    height: 250px;
    width: 150px;
    padding: 0;
    border-style: none;
    margin: 5px;
}
img {
}
.container {
    width: 100%;
    margin: 0;
    padding: 20px;
}
.wrapper {
    background: rgb(127, 172, 105);
    width: 1800;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    position: flex;
    box-sizing: border-box;
}
h1 {
    color: whitesmoke;
}
h4 {
    color: rgb(206, 221, 198);
}
p {
    color: whitesmoke;
}
.wrapper-skills {
    text-align: center;
}
#Upenn {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    font-weight: 100;
    color: rgb(255, 212, 212);
}
.p-skills {
    color: black;
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
#LinkedIn {
    background: rgb(206, 221, 198);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Bootstrap gives rows an automatic -15px margin left and right, need to overwrite */
.row {
    margin: auto;
}




ul {
    list-style: none;
}






footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #182628;
    color: white;
    text-align: center;
    height: 50px;
    text-align: center;
    padding: 30px;
    border-top: rgb(93, 133, 73) solid 10px;
    z-index: 150;
}










/* .container {
    padding: 20px;
    margin: 0;
    margin-top: 60px;
    background: rgb(33, 41, 146);
}
#Cal {
    padding 0;
}

.card-body {
    background-color: rgb(247,248,250);
    color: 182628;
    border: #182628 solid 5px;
}
.card-link {
    float: left;
    color: #182628;
} */

