/* 
#182628 - dark
#65CCB8 - light blue
#57BA98 - teal blue
#3B945E - green
#F2F2F2 - white
*/

body {
    background: rgb(247,248,250);
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    background: #3B945E;
    box-shadow: #182628;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
}

.nav-link {
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    font-size: 1.25rem;
    font-weight: 600;
    color: whitesmoke;
}
.nav-link:hover {
    color: #57BA98;
}
.navbar-toggler {
    /* color: whitesmoke; */
}
span {
    /* color: whitesmoke; */
    border: whitesmoke solid 2.5px;    
}
.navbar-toggler-icon {
    /* color: whitesmoke; */
    /* background: whitesmoke; */
    /* text-emphasis-color: white; */
}
.container-mabel {
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
}
.dropdown-menu {
    padding: 0;
}
.mabel-dimensions {
    height: 200px;
    width: 200px;
    margin: 20px;

}
