body {
    /* background-image: url("https://cdn.dribbble.com/users/1291159/screenshots/2853099/trees02.gif"); */
    /* background-image: url("https://cdn.dribbble.com/users/1162077/screenshots/4382009/animated-pattern.gif"); */
    /* background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1; */

    background: url("https://cdn.dribbble.com/users/1291159/screenshots/2853099/trees02.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    font-size: 1rem;
  /* font-size: 1.10vw; */
  /* font-size:5vw; */
  font-weight: 400;
}
/* .nav-link, #navbarDropdownMenuLink, .dropdown {
    margin: 0 5%;
    margin-left: 5%;
    margin-right: 5%;
} */
@media screen and (max-width: 601px) {
    p, h2, h5 {
      font-size: .8rem;
    }
  }
@media screen and (max-width: 400px) {
    p,h5 {
      font-size: .7rem;
    }
    h2 {
        font-size: 1rem;
    }
  }

.navbar-nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.dropdown-item {
    font-weight: 700;
}
.dropdown-item:hover {
    background-color: rgba(0, 132, 193, 0.75);
    /* background: url("https://ak7.picdn.net/shutterstock/videos/16272367/thumb/1.jpg") no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
      background-size: contain; */
      /* background-size: 50px 100px; */
}
.weatherDrop:hover {
    background-color: rgba(0, 132, 193, 0.75);
    /* background: url("https://st.depositphotos.com/2192188/2277/v/450/depositphotos_22774100-stock-illustration-simple-blue-raindrop-pattern.jpg") no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
      background-size: contain; */
      /* background-size: 50px 100px; */
}
.dropdown-menu{
    padding: 0;
}
.navbar-collapse {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
}
#calvinPic {
    height: 16rem;
    width: 10rem;
    float: right;
    opacity: 1;
    z-index: 999;
    margin: 2px;
}
@media screen and (max-width: 601px) {
    #calvinPic {
        height: 10rem;
        width: 6rem;
    }
  }

img {
    width: 30px;
    height: 225px;
}

.card {
    margin: 0 10%;
    opacity: .825;
    z-index: 1;
}
.card-header {
    background-color: rgba(0, 132, 193, 0.75);
    z-index: 1;
    color: whitesmoke;
    /* font-size: 2rem; */
}

.card-title {
    text-decoration: underline;
}
ul {
    padding: 0;
}