* {
    overflow: hidden;
}
#time, #highscore {
    text-align: right;
}
p {
    margin: 20px;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    padding-bottom: 5px;
}
#main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
#startButton {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.answers {
    background: rgb(40,167,69);
    color: white;
    width: 135px;
}
ul {
    padding: 0;
    padding-top: 10px;
}
#scoreButton {
    background: rgb(40,167,69);
    color: white;
    margin-left: 5px;
}