.btn {
color: whitesmoke;
}
.firstBody {
    padding: 1rem 0rem;
    /* height: 0 fit-content; */
}
/* #appScreenshot {
    height: 200px;
    width: 200px;
    float: right;
    margin: 1rem;
} */
#resume {
    /* margin-left: 1rem; */
    margin: 0 10%;
    /* margin-right: 10%; */
    /* width: 50%; */
    /* border: salmon solid 1px; */

}