html {
  scroll-behavior: smooth;
}  
.box {
  box-shadow: 7px 7px 5px #0000003f;
  margin: 0 auto;
}
.control {
  box-shadow: 7px 7px 5px #00000028;
}
#noteImg {
  height: 12rem;
  width: 15rem;
  margin: 0 auto;
}
