.form-group {
    padding: 1rem 0rem;
    margin: 0 10%;
    opacity: .8;
}
button {
    margin: 0 10%;
}
.form-groupCheckBox {
    padding: 1rem 0rem;
    margin: 0 4%;
}
.input {
    margin-right: 70%;
}
@media screen and (max-width: 900px) {
    .input {
        margin-right: 50%;
    }
  }

.textarea {
    margin-right: 50%;
}
@media screen and (max-width: 900px) {
    .textarea {
        margin-right: 20%;
    }
  }
